body {
  background-color: gray;
}
.App {
  text-align: left;
  margin-left: 40px;
}

h1 {
  text-align: center;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
